<h1>Le Cultivateur</h1>
<p>Creuser le sillon de la culture !</p>

<% categories = [ 'musique', 'théâtre', 'danse', 'cirque', 'cinéma' ] %>

<h2>Trouvez tous les spectacles !</h2>

<% categories.each do |category| %>
              <li><%= category.capitalize %></li>
<% end %>


