
<p>Creuser le sillon de la culture !</p>

<% categories = [ 'musique', 'théâtre', 'danse', 'cirque', 'cinéma' ] %>

<h2><%= link_to "Trouvez tous les spectacles !", projects_path %></h2>

<% categories.each do |category| %>
              <li><%= category.capitalize %></li>
<% end %>


<h3><%= link_to "Réferencer votre salle de spectacle", oases_path %></h3>
